.slide-down-enter {
  grid-template-rows: 0fr;
  opacity: 0;
}

.slide-down-enter-active {
  grid-template-rows: 1fr;
  opacity: 1;
  transition: grid-template-rows 300ms ease-out, opacity 300ms ease-out;
}

.slide-down-exit {
  grid-template-rows: 1fr;
  opacity: 1;
}

.slide-down-exit-active {
  grid-template-rows: 0fr;
  opacity: 0;
  transition: grid-template-rows 300ms ease-in, opacity 300ms ease-in;
}
